/* --- Allgemeines Layout --- */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #14272A;
    color: white;

    display: flex;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Standard 4 Spalten */
    gap: 50px;
    padding: 50px;
    padding-top: 100px;
    max-width: 1300px;
    margin: auto;
    grid-auto-rows: 1fr; /* Alle Zeilen haben die gleiche Höhe */
}

.chapter {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 150px; /* Gleiche Höhe für alle Container */
    transition: all 0.3s ease;
    box-sizing: border-box; /* Verhindert, dass Padding und Border die Größe beeinflussen */
}

.chapterText {
    font-weight: bold;
}

/* Responsivität */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 Spalten */
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 Spalten */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 Spalte */
    }
}

.chapter:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
}
.chapter:hover .chapterText
{
    opacity: 1;
}

.chapterText
{
    opacity: 0;
    color:black
}















header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}
