/* --- Allgemeines Layout --- */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #14272A;
    color: white;

    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; /* Noch mehr Abstand zwischen den Kästchen */
    padding: 50px;
    max-width: 1300px; /* Mehr Platz für größere Kästchen */
    margin: auto;
}

.chapter {
    background-color: white;
    padding: 40px; /* Größere Innenabstände für größere Kästchen */
    height: 90px; /* Höhe der Kästchen erhöht */
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chapter:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
}















header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}
